{
  "users": [
    {
      "id": 1,
      "username": "root",
      "password": "4813494d137e1631bba301d5acab6e7bb7aa74ce1185d456565ef51d737677b2",
      "coins": 9000,
      "token": null,
      "lastLogin": null
    }
  ],
  "gifts": [
    {
      "id": 0,
      "user": 1,
      "claimed": false,
      "claimedAt": null,
      "amount": 100,
      "timer": 20000,
      "reason": "Vos avez obtenu 100 jetons supplémentaires pour votre première connexion. Attrapez les vite!"
    }
  ],
  "bets": [
    
  ],
  "favourites": [
    
  ]
}