.minWdScreenTitle {
    min-height: 40vh;
}

.mainTitle {
    font-style: italic;
    font-size: 4em;
    line-height: 105px;
    font-weight: 100;
    font-family: "Fira Sans", serif;
    letter-spacing: 3px;
}
