.cardMinHeight {
    min-height: 400px;
}

.imgHeight {
    height: 210px;
}

.tooltipDimensions {
    width: 150px;
    height: 150px;
}

.iconPosition {
    position: absolute;
    bottom: 0;
    margin: 5px;
    cursor: pointer;
}
